<div class="jumbotron">
  <h1 class="display-4">Karaoke App</h1>
  <p class="lead">
    Developing a simple audio mixer for Youtube Videos.
  </p>
  <hr class="my-4" />
  <p>
    IN DEVELOPMENT
  </p>
</div>
