.jumbotron {
  margin: 2.5rem 5rem;
}
.input.row {
  margin: 2rem 10rem;
}
label {
  font-size: 1rem;
}
.btn-primary {
  margin: 1rem;
}
.video.row {
  text-align: center;
  display: block;
}

.text.row {
  margin: 1rem 15rem;
}

#youtubevideo {
  pointer-events: none;
}
